<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
   <meta http-equiv="Pragma" content="no-cache" />
   <meta http-equiv="Expires" content="0" />
   
   <title>{% if title %}{{ title }}{% endif %}</title>
   
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
   <script type="text/javascript" charset="utf-8"></script>
   <script src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
   {% block content %}{% endblock content %}
</body>
</html>