{% extends 'layout.html' %}
{% block title %} home {% endblock title %}
{% block content %}

{% if flights %}
<h1>FLIGHTS</h1>
<ul>
   {% for flight in flights %}
   <li>
      A flight from 
      <span style="color:red;">{{ flight.origin }}</span> to {{ flight.destination }} is {{ flight.duration }} minutes.
   </li>
   {% endfor %}
</ul>
{% else %}
{% endif %}

{% if passengers %}
<h1>Passengers</h1>
<ul>
   {% for passenger in passengers %}
   <li>
      {{ passenger.name }} 
      booked flight from 
      {%for flight in flights %}{% if flight.id == passenger.flight_id %} 
         {{ flight.origin}} to {{ flight.destination }}
      {% endif %}{% endfor %}
   </li>
   {% endfor %}
</ul>
{% endif %}
{% endblock content %}