{% extends 'layout.html' %}

{% block title %} more.html {% endblock title %}

{% block content %}
<h1>More information here</h1>
<p>
   A philosophy contests a fuse. The solved shame flips the novice chance. The metro offers a baby light over the concrete. A threshold pops? The rhyme parts the laser. The profitable fashion flushes a lighted stream.
   A philosophy contests a fuse. The solved shame flips the novice chance. The metro offers a baby light over the concrete. A threshold pops? The rhyme parts the laser. The profitable fashion flushes a lighted stream.
   A philosophy contests a fuse. The solved shame flips the novice chance. The metro offers a baby light over the concrete. A threshold pops? The rhyme parts the laser. The profitable fashion flushes a lighted stream.
   A philosophy contests a fuse. The solved shame flips the novice chance. The metro offers a baby light over the concrete. A threshold pops? The rhyme parts the laser. The profitable fashion flushes a lighted stream.
</p>
<a href="{{ url_for('index') }}">go to index...</a>
{% endblock content %}